.myPaneTop {
		-fx-background-image: url('./view/assets/blueforest.jpg');
		
		}

.myPaneButton {
	-fx-background-color: #008080;
	
	}
.button{
	-fx-background-color: orange;
	-fx-background-radius: 7px;
}
.button:hover {
	-fx-background-color:  #008080;
	
}

